@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Press+Start+2P&display=swap");
@import "tailwindcss";

@theme {
  --font-press-start-2p: "Press Start 2P";
}

@theme {
  --animate-pulse: pulse 10s ease-in-out infinite;

  @keyframes pulse {
    0%,
    100% {
      scale: 1;
    }
    50% {
      scale: 1.05;
    }
  }
}
@theme {
  --animate-slide: slide 10s linear infinite;

  @keyframes slide {
    0%,
    100% {
      left: 0;
    }
    50% {
      left: 200px;
    }
  }
}
@theme {
  --animate-run: run 10s steps(16) infinite;

  @keyframes run {
    0% {
      background-position-x: 0%;
    }
    100% {
      background-position-x: 100%;
    }
  }
}
@theme {
  --animate-look: look 2s steps(2) infinite;

  @keyframes look {
    0% {
      background-position-x: 0%;
    }
    100% {
      background-position-x: 200%;
    }
  }
}
@theme {
  --animate-star: star 3s steps(6) infinite;

  @keyframes star {
    0% {
      background-position-x: 0%;
    }
    100% {
      background-position-x: 200%;
    }
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
